@import "src/assets/styles/colors";
@import "src/assets/styles/dimensions";

.header {
  width: 100%;
  height: 8vh;
  color: $white_color;

  &__logo {
    width: 25%;
    position: relative;
  }

  &__logo-image {
    position: absolute;
    top: 25%;
    height: 27px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }

  &__menu {
    width: 75%;
    line-height: 50px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 0.5px solid $gray_color;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__menu-wrapper {
    width: 80%;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }

  &__item {
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $green_color;
      transition: ease-in 200ms;
    }
  }

  &__login {
    width: 20%;
    text-align: right;
    cursor: pointer;
  }
}

fa-icon {
  margin-right: 5px;
}

.active {
  color: $green_color;
  border-bottom: 3px solid $green_color;
}


@media screen and (max-width: $laptop){
  .header {
    height: 100px;

    &__logo {
      width: 100%;
    }

    &__logo-wrapper {
      width: fit-content;
      margin: 0 auto;
      padding: 10px 0;
    }

    &__logo-image {
      position: static;
      margin: 0 auto;
    }

    &__wrapper {
      display: block;
      height: 100px;
    }

    &__menu {
      width: 100%;
      height: 50px;
    }

    &__menu-wrapper {
      width: 100%;
    }

  }
}


@media screen and (max-width: $tablet){
  .header {
    height: 450px;

    &__wrapper {
      display: block;
      height: 100px;
    }

    &__menu {
      width: 100%;
      height: 450px;
      display: block;

      border: none;
    }

    &__items {
      display: block;
      width: 100%;
    }

    &__item {
      display: block;
      width: 100%;
      text-align: center;
    }

    &__login {
      width: 100%;
      text-align: center;
    }
  }
}
