<header class="header">
  <div class="container">

    <div class="header__wrapper">
      <div class="header__logo">
        <div class="header__logo-wrapper">
          <img class="header__logo-image" src="assets/images/emp-logo.png" alt="logo">
        </div>
      </div>

      <div class="header__menu">
        <div class="header__menu-wrapper">
          <ul class="header__items">
            <li class="header__item">HOME</li>
            <li class="header__item"> <fa-icon [icon]="faMap"></fa-icon> SOLUTIONS</li>
            <li class="header__item">TUTORIAL</li>
            <li class="header__item">ABOUT US</li>
            <li class="header__item">LIBRARY</li>
            <li class="header__item">NEWS</li>
            <li class="header__item">CONTACT US</li>
          </ul>
        </div>

        <div class="header__login">
          <div class="header__login-wrapper">
            <fa-icon [icon]="faUser"></fa-icon>
            MEMBER LOGIN
          </div>
        </div>

      </div>
    </div>

  </div>
</header>
