<header class="header"
        [class.header--no-background]="!isScrolledMoreThan && !isMobile"
        [class.header--mobile]="!isMenuVisible">
  <div class="container">

    <div class="header__wrapper">
      <div class="header__logo">
        <div class="header__logo-wrapper">
          <img class="header__logo-image" src="../../../../assets/images/logos/emp-logo.png" alt="logo">
        </div>
      </div>

      <div class="header__menu">
        <div class="header__menu-wrapper">
          <div class="header__menu-mobile">
            <fa-icon
              class="header__menu-icon"
              [icon]="isMenuVisible ? faTimes : faBars"
              *ngIf="isMobile"
              (click)="toggleMenu()"></fa-icon>
          </div>

          <div [class.header__items-wrapper]="isMenuVisible"
               *ngIf="isMenuVisible"
               @menuAnimation>
            <ul class="header__items">
              <li
                class="header__item"
                [class.active]="selectedIndex === i"
                *ngFor="let item of menuItems; let i = index;"
                (click)="setItem(i)">
                <fa-icon *ngIf="selectedIndex === i" [icon]="faMap" @faAppearAnimation></fa-icon>
                {{ item }}
                <div [class.active-border]="selectedIndex === i"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="header__login">
        <div class="header__login-wrapper">
          <fa-icon [icon]="faUser"></fa-icon>
          <span *ngIf="!isMobile">MEMBER LOGIN</span>
        </div>
      </div>
    </div>

  </div>
</header>
