@import "src/assets/styles/colors";
@import "src/assets/styles/dimensions";

.header {
  width: 100%;
  color: $white_color;
  background-color: $black_color;
  z-index: 999;

  position: fixed;
  top: 0;

  &--no-background {
    background-color: unset;
  }

  &__logo {
    width: 25%;
    position: relative;
  }

  &__logo-image {
    position: absolute;
    top: 25%;
    height: 27px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }

  &__menu {
    width: 55%;
    line-height: 50px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 0.5px solid $gray_color;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-mobile {
      display: none;
    }

  }

  &__menu-wrapper {
    width: 100%;
  }

  &__items {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }

  &__item {
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $green_color;
      transition: ease-in 200ms;
    }
  }

  &__login {
    width: 20%;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    border-bottom: 0.5px solid $gray_color;


    &:hover {
      color: $blue_color;
      transition: 300ms ease-in;
    }
  }
}

fa-icon {
  margin-right: 5px;
}

.active {
  color: $green_color;
}

.active-border {
  position: relative;
  bottom: -1px;
  width: auto;
  height: 4px;
  background-color: $green_color;
  z-index: 100;
  transition: 400ms ease-in;
  border-radius: 1px;
}

.transition {
  transition: 2000ms ease-in;
}

@media screen and (max-width: $laptop){
  .header {
    height: 100px;

    &__logo {
      width: 100%;
    }

    &__logo-wrapper {
      width: fit-content;
      margin: 0 auto;
      padding: 10px 0;
    }

    &__logo-image {
      position: static;
      margin: 0 auto;
    }

    &__wrapper {
      display: block;
      height: 100px;
    }

    &__menu {
      width: 80%;
      height: 50px;
      float: left;
    }

    &__menu-wrapper {
      width: 100%;
    }

    .active-border {
      bottom: 2px;
    }

    &__login {
      height: 50px;
    }

  }
}


@media screen and (max-width: $tablet){
  .header {
    height: 70px;

    &--mobile {
      height: 70px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    &__menu {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border: none;

      &-mobile {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      &-icon {
        cursor: pointer;
        text-align: center;
      }

      &-wrapper {
        display: flex;
      }
    }

    &__items {
      display: block;
      width: 100%;

      &-wrapper {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: 0;
        background-color: $black_color;
        z-index: 9999;
      }
    }

    &__item {
      display: block;
      width: 100%;
      text-align: center;
    }

    &__login {
      width: 100%;
      text-align: center;
      order: -1;
      border: none;
      justify-content: center;
    }
  }

  .active-border {
    width: 30%;
    left: 35%;
  }

  fa-icon {
    font-size: 22px;
  }
}
