<section class="intro">
  <div class="container">

    <div class="intro__video-background">
      <div class="intro__video-foreground">
        <video autoplay muted loop>
          <source src="assets/videos/Earth_Sun_over_top.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      </div>
    </div>

    <div class="intro__content">
      <h1>Digitizing the Energy Market Landscape</h1>
      <h5>Customized software solutions for the energy industry</h5>
      <button class="intro__content-button">
        <fa-icon [icon]="faAngleRight"></fa-icon>
        TRY A CUSTOM
      </button>
    </div>

  </div>
</section>


<section>
  <h1>dsads</h1>
</section>
