@import "src/assets/styles/colors";
@import "src/assets/styles/dimensions";

.intro {
  width: 100%;
  height: 92vh;
  color: $white_color;


  display: flex;
  justify-content: center;
  align-items: center;

  &__video-background {
    background: $black_color;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
  }

  &__video-foreground,
  &__video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
  }

  &__content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
  }

  &__content-button {
    width: 200px;
    height: 60px;
    background: none;
    border: 1px solid $white_color;
    border-radius: 3px;
    color: $white_color;
    font-weight: bold;
    cursor: pointer;
  }
}

.container {
  height: auto;
}

fa-icon {
  margin-right: 8px;
}

@media screen and (max-width: $laptop){
  .intro {
    height: 700px;

    &__video-background {
      width: 100%;
      height: 800px;
    }
  }
}


@media screen and (max-width: $tablet){
  .intro {
    height: 500px;

    &__video-background {
      width: 100%;
      height: 1000px;
    }

    &__video-background--mobile {
      height: 651px;
    }
  }
}
