@import "src/assets/styles/colors";
@import "src/assets/styles/dimensions";

.box {
  border-right: 1px solid $grey_color;
  padding: 0 20px;
  text-align: center;

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: left;
  }

  &__title {
    margin: 0 0 0 16px;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
  }

  &__price {
    font-size: 13px;
  }

  &__info {
    font-size: 12px;
    font-weight: bold;
  }

  &:first-child {
    border: none;
  }

  &:last-child {
    border: none;
  }
}

fa-icon {
  font-size: 30px;
  color: $blue-color;
}

@media screen and (max-width: $laptop){

  .box {
    padding: 0;
  }
}
