<section class="news">
  <div class="container">

    <h1 class="news__title">Energy Market News</h1>

     <div class="news__content">
       <div class="news__slider">
         <div class="news__slide">
           <img class="news__slide-image" src="assets/images/news_daily.png" alt="">
           <div class="news__slide-content">
             <p class="news__slide-date item-date">17 May 2020</p>
             <h4 class="news__slide-title item-title">Daily (24.05.2020): EUAs surpassed the $ 25-level for the first time in four months on Tuesday amid bullish economic data</h4>
             <p class="news__slide-info item-info">Crude oil futures pulled back off the highest level since before coronavirus pandemic on Tuesday amid a sharp increase in COVID-19 cases and before the release of a weekly report which is expected to reveal that crude inventories have reached a new all-time high in the United States.</p>
             <p class="news__slide-more item-more">
               <fa-icon [icon]="faAngleRight"></fa-icon>
               Read more
             </p>
           </div>
         </div>
       </div>

       <div class="news__static">
         <div class="news__static-wrapper">
           <div class="news__main">
             <img class="news__main-image" src="https://www.sciencealert.com/images/2020-06/processed/wind_turbine_angle_up_bottom_1024.jpg" alt="">
              <div class="news__main-content">
                <div class="news__main-content-wrapper">
                  <p class="news__main-date item-date">17 May 2020</p>
                  <h4 class="news__main-title item-title">Enel Green Power expanding Cimarron Bend wind farm by 1990 MW</h4>
                  <p class="news__main-info item-info">Enel Green Power started construction on the 199-MW expansion of the Cimarron Bend wind farm in Clark Country, Kansas.</p>
                  <p class="news__main-more item-more">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Read more
                  </p>
                </div>
              </div>
           </div>
           <div class="news__second">
             <div class="news__item">
               <img class="news__item-image" src="https://www.renewableenergymagazine.com/ficheroenergias/fotos/articulos/ampliada/w/4wind_and_solar.jpg" alt="">
               <p class="news__item-date item-date">17 May 2020</p>
               <h4 class="news__item-title item-title">Airbone Wind Energy Systems: A review of the technologies</h4>
             </div>

             <div class="news__item">
               <img class="news__item-image" src="https://www.energymarketprice.com/Admin/uploads/Coal/architecture-1643560_960_720.jpg" alt="">
               <p class="news__item-date item-date">17 May 2020</p>
               <h4 class="news__item-title item-title">Nuclear developers press for 'prompt' decision n new UK plants</h4>
             </div>
           </div>
         </div>
       </div>
     </div>

  </div>
</section>
