<section class="news"
         appAppear
         (appear)="onAppear()"
         [@appearAnimation]="status">
  <div class="container">

    <h1 class="news__title">Energy Market News</h1>

     <div class="news__content">
       <div class="news__slider">
         <app-slider [slides]="slides"></app-slider>
       </div>

       <div class="news__static">
         <div class="news__static-wrapper">
           <div class="news__main">
             <img class="news__main-image" src="../../../assets/images/backgrounds/background_wind_turbine.jpg" alt="">
              <div class="news__main-content">
                <div class="news__main-content-wrapper">
                  <p class="news__main-date item-date">17 May 2020</p>
                  <h4 class="news__main-title item-title">Enel Green Power expanding Cimarron Bend wind farm by 1990 MW</h4>
                  <p class="news__main-info item-info">Enel Green Power started construction on the 199-MW expansion of the Cimarron Bend wind farm in Clark Country, Kansas.</p>
                  <p class="news__main-more item-more">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Read more
                  </p>
                </div>
              </div>
           </div>
           <div class="news__second">
             <div class="news__item">
               <img class="news__item-image" src="../../../assets/images/backgrounds/background_four_turbines.jpg" alt="">
               <p class="news__item-date item-date">17 May 2020</p>
               <h4 class="news__item-title item-title">Airbone Wind Energy Systems: A review of the technologies</h4>
             </div>

             <div class="news__item">
               <img class="news__item-image" src="../../../assets/images/backgrounds/background_arhitecture.jpg" alt="">
               <p class="news__item-date item-date">17 May 2020</p>
               <h4 class="news__item-title item-title">Nuclear developers press for 'prompt' decision n new UK plants</h4>
             </div>
           </div>
         </div>
       </div>
     </div>

  </div>
</section>
