<section class="energy-data">
  <div class="container">

    <h1 class="energy-data__title">Looking just for Energy Data</h1>

    <div class="energy-data__content-wrapper">
      <div class="energy-data__content">

        <div class="energy-data__box">
          <div class="energy-data__box-header">
            <fa-icon [icon]="faGasPump"></fa-icon>
            <h4 class="energy-data__box-title">Crude oil</h4>
          </div>
          <p class="energy-data__box-info">+ 1.49% 68.51 USD/bbl</p>
          <p>WTI Crude</p>
        </div>


        <div class="energy-data__box">
          <div class="energy-data__box-header">
            <fa-icon [icon]="faGasPump"></fa-icon>
            <h4 class="energy-data__box-title">Crude oil</h4>
          </div>
          <p class="energy-data__box-info">+ 1.49% 68.51 USD/bbl</p>
          <p>WTI Crude</p>
        </div>


        <div class="energy-data__box">
          <div class="energy-data__box-header">
            <fa-icon [icon]="faGasPump"></fa-icon>
            <h4 class="energy-data__box-title">Crude oil</h4>
          </div>
          <p class="energy-data__box-info">+ 1.49% 68.51 USD/bbl</p>
          <p>WTI Crude</p>
        </div>


        <div class="energy-data__box">
          <div class="energy-data__box-header">
            <fa-icon [icon]="faGasPump"></fa-icon>
            <h4 class="energy-data__box-title">Crude oil</h4>
          </div>
          <p class="energy-data__box-info">+ 1.49% 68.51 USD/bbl</p>
          <p>WTI Crude</p>
        </div>


        <div class="energy-data__box">
          <div class="energy-data__box-header">
            <fa-icon [icon]="faGasPump"></fa-icon>
            <h4 class="energy-data__box-title">Crude oil</h4>
          </div>
          <p class="energy-data__box-info">+ 1.49% 68.51 USD/bbl</p>
          <p>WTI Crude</p>
        </div>


        <div class="energy-data__box">
          <div class="energy-data__box-header">
            <fa-icon [icon]="faGasPump"></fa-icon>
            <h4 class="energy-data__box-title">Crude oil</h4>
          </div>
          <p class="energy-data__box-info">+ 1.49% 68.51 USD/bbl</p>
          <p>WTI Crude</p>
        </div>


      </div>
    </div>

  </div>
</section>
