@import "src/assets/styles/colors";

.controller {
  &__controls-center {
    display: flex;
    justify-content: flex-start;
  }

  &__control {
    font-size: 36px;
    color: $gray_color;
    cursor: pointer;
  }

  &__counter {
    width: 30px;
    text-align: center;
    font-size: 35px;
    color: $gray_color;
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  &__tabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 16px;
  }

  &__tab {
    width: 30px;
    height: 2.5px;
    margin-right: 5px;
    background-color: $gray_color;
    cursor: pointer;
  }

  &__tab--active {
    height: 4.5px;
    background-color: $green_color;
  }
}
