<div class="controller__controls">
  <div class="controller__controls-center">
    <fa-icon
      class="controller__control"
      [icon]="faAngleLeft"
      (click)="previousClick.emit()"></fa-icon>
    <div class="controller__counter">{{ currentItem + 1 }}</div>
    <fa-icon
      class="controller__control"
      [icon]="faAngleRight"
      (click)="nextClick.emit()"></fa-icon>
  </div>

  <div class="controller__tabs">
    <div *ngFor="let index of items;">
      <div class="controller__tab"
           [class.controller__tab--active]="index === currentItem"
           (click)="tabClick.emit(index)">
      </div>
    </div>
  </div>
</div>
