<footer class="footer">
  <div class="container">

    <div class="footer__content">
      <p class="footer__title"><fa-icon [icon]="faAngleRight"></fa-icon>Try a custom demo</p>
      <div class="footer__logo">
        <img src="assets/images/emp-logo.png" alt="logo">
      </div>
      <div class="footer__contacts">
        <p class="footer__contacts-title"><fa-icon [icon]="faAngleRight"></fa-icon> Contacts us</p>
        <div class="footer__contact-logos">
          <img class="footer__contacts-logo" src="assets/images/twitter.png" alt="">
          <img class="footer__contacts-logo" src="assets/images/linkedin.png" alt="">
        </div>
      </div>
    </div>

  </div>
</footer>
