<section class="solution">
  <div class="container">

    <h1 class="solution__title">Bespoke solution</h1>

    <app-tab-manager>
      <app-tab tabTitle="INDUSTRIAL & COMMERCIAL">
        <div class="solution__tab-content">
          <div class="solution__tab-row">
            <img class="solution__tab-image" src="../../../assets/images/blue_image1.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image2.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image3.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image1.jpg" alt="Blue Image">
          </div>

          <div class="solution__tab-row">
            <img class="solution__tab-image" src="../../../assets/images/blue_image3.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image1.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image4.jpg" alt="Blue Image">
          </div>
        </div>
      </app-tab>

      <app-tab tabTitle="ENERGY CONSULTANTS">
        <div class="solution__tab-content">
          <div class="solution__tab-row">
            <img class="solution__tab-image" src="../../../assets/images/blue_image4.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image3.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image2.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image1.jpg" alt="Blue Image">
          </div>

          <div class="solution__tab-row">
            <img class="solution__tab-image" src="../../../assets/images/blue_image2.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image1.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image4.jpg" alt="Blue Image">
          </div>
        </div>
      </app-tab>


      <app-tab tabTitle="ENERGY SUPPLIERS">
        <div class="solution__tab-content">
          <div class="solution__tab-row">
            <img class="solution__tab-image" src="../../../assets/images/blue_image1.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image3.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image2.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image3.jpg" alt="Blue Image">
          </div>

          <div class="solution__tab-row">
            <img class="solution__tab-image" src="../../../assets/images/blue_image4.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image1.jpg" alt="Blue Image">
            <img class="solution__tab-image" src="../../../assets/images/blue_image2.jpg" alt="Blue Image">
          </div>
        </div>
      </app-tab>
    </app-tab-manager>

  </div>
</section>
