<section class="solution" id="solution" appAppear (appear)="onAppear()" [@appearAnimation]="status">
  <div class="container">

    <h1 class="solution__title">Bespoke solution</h1>

    <app-tab-manager>
      <app-tab *ngFor="let solution of solutions" [title]="solution.title">
        <div class="solution__tab-content">
          <div class="solution__tab-row">
            <div class="solution__cell" *ngFor="let image of solution.images">
              <img class="solution__tab-image" [src]="image" alt="Blue Image">
            </div>
          </div>
        </div>
      </app-tab>
    </app-tab-manager>

  </div>
</section>
