<section class="about"  [style.background-image]="'url(\'../../assets/images/background.jpg\')'">
  <div class="about__background">
    <div class="about__wrapper">

      <div class="about__presentation">
        <h1>About Us</h1>
        <div class="about__presentation-click">
          <fa-icon [icon]="faPlay"></fa-icon>
          <p>Our World</p>
        </div>
      </div>

      <div class="about__information">
        <h1>Meet Your Energy Company</h1>
        <p>Each and every one of our employees represent the spirit of our company: driven, committed,
          and acutely aware of how limitless EMP' potential is to grow.</p>
        <p>We go to great lengths to identify self-starters with diverse experience and skill sets to
          produce not just an effective workforce , but a well-rounded, talented and complementary team</p>
      </div>

    </div>
  </div>
</section>
