@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import "src/assets/styles/colors";
@import "src/assets/styles/dimensions";


* {
  font-family: 'Lato', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1010px;
  margin: 0 auto;
  height: inherit;
}

.red-bold {
  font-weight: bold;
  color: $red_color;
}

.green-bold {
  font-weight: bold;
  color: $green_color;
}

@media screen and (max-width: 1024px){
  .container {
    max-width: 768px;
    height: inherit;
  }
}
