$black_color: #000000;
$dark_blue_background_color: #1a305666;
$dark_blue_color: #353940;
$dark_gray_color: #474747;
$blue_color: #019CD5;
$green_color: #83a600;
$red_color: #dc2929;
$gray_color: #C0C8D2;
$light_gray_color: #f4f5f6;
$white_color: #ffffff;
